#big_flashcard {
	width: 480px;
	height: 180px;
	border: 1px solid #000;
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	padding-top: 100px;
}

#flashcards_list tr td {
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0.5em;
}

#flashcards_list tr td:first-of-type {
	border-right: 1px solid #ccc;
}

#flashcards_list tr:hover {
	background-color: #eea;
}