#flashcards_list tr td {
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0.5em;
}

#flashcards_list tr td:first-of-type {
	border-right: 1px solid #ccc;
}

#flashcards_list tr:hover {
	background-color: #eea;
}