<h1>About WikiFlashcards.com</h1>

<h2>Creator</h2>
<p>WikiFlashcards was created by Andrew Havens.</p>

<h2>Technical Stuff</h2>
<ul>
	<li>Application code written in Ruby using the Rails framework.
	<li>"Sign in with Facebook" button created by <a href="http://www.komodomedia.com/blog/2009/06/sign-in-with-twitter-facebook-and-openid/">Komodo Media</a></li>
</ul>
