<div id="search-results">

  <h2 class="category-heading">My Books</h2>

  <% if @books.empty? %>
    <p>You have not saved any books yet. Search for a book, then click the button to add it to your list of saved books.</p>
  <% else %>
    <% @books.each do |book| %>
    <div class="book-result" onclick="location.href='<%= url_for book %>';">
      <%= image_tag book.cover.url(:medium), :class => 'book-cover' %>
      <h3 class="book-title"><%= link_to book.title + ' : ' + book.subtitle, book %></h3>
      <span class="book-author"><%= book.author %></span> / <span class="book-publisher">Publisher Here</span>
    </div>
    <% end %>
  <% end %>

</div>